@import url("design-system.css");

.button {
  background-color: linear-gradient(to bottom, #0f0f1a, #1b1b2f);
  color: var(--color-text);
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
}

.button:hover {
  background-color: var(--color-extra);
  transform: scale(1.05);
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.titulos{
  font-size: 40px;
  color: var(--color-primary);
  text-align: center;
}

.main-content{
  font-size: 25px;
  color: var(--color-text-secondary);
  text-align: center;
}

.container{
  align-items: center;
  background-color: var(--color-secondary);
}