@import url("design-system.css");

.button {
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--color-extra);
  transform: scale(1.05);
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.titulos{
  font-size: 40px;
  color: var(--color-primary);
  text-align: center;
}

.main-content{
  font-size: 25px;
  color: var(--color-text-secondary);
  text-align: center;
}

.container{
  align-items: center;
  background-color: var(--color-secondary);
}